html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  font-size: 1em;
  font-weight: 550;
  border-radius: 5px;
}

.red {
  color: red;
}
.yellow {
  color: rgb(184, 184, 16);
}
.cyan {
  color: rgb(70, 141, 141);
}
.blue {
  color: blue;
}

#screen {
  margin: auto;
  background-color: #d4e2e3;
  border: solid gray;
  height: 32vh;
  width: 98vw;
}

#sci1 {
  margin: auto;
  height: 12.8vh;
  width: 98vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#dpad {
  grid-area: 1 / 3 / 3 / 5;
  display: grid;
  border: 1px solid green;
  border-radius: 2.3em;
  background-color: #c3e364;
}
#dpad button {
  border-radius: 10px;
  background-color: #9b9b99;
}
#left {
  grid-row-start: 2;
  grid-column-start: 1;
}
#up {
  grid-row-start: 1;
  grid-column-start: 2;
}
#down {
  grid-row-start: 3;
  grid-column-start: 2;
}
#right {
  grid-row-start: 2;
  grid-column-start: 3;
}

#sci2 {
  margin: auto;
  height: 19.2vh;
  width: 98vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#basic {
  margin: auto;
  height: 32vh;
  width: 98vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media only screen and (max-width: 600px) {
  button {
    font-size: 1em;
  }

  #screen {
    height: 15vh;
  }
  #sci1 {
    height: 18.4vh;
  }
  #sci2 {
    height: 24.8vh;
  }
  #basic {
    height: 37.6vh;
  }
}
@media only screen and (max-width: 400px) {
  button {
    font-size: 0.5em;
  }
}
