html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  width: 98vw;
  background-color: #363636;
}
.calc {
  width: 100%;
  border: 8px solid #1d1d1d;
  background-color: #202020;
}

button {
  text-align: center;
  background-color: rgb(48, 48, 48);
  color: white;
  font-weight: 400;
  border-radius: 10px;
  margin: 0.1em;
  padding: 0;
  cursor: pointer;
  font-size: clamp(11px, 2vw, 15px);
}

.red {
  color: red;
}
.yellow {
  color: rgb(184, 184, 16);
}
.cyan {
  color: rgb(70, 141, 141);
}
.blue {
  color: blue;
}
.clearButtons {
  background-color: #381319;
}

#screen {
  color: white;
  background-color: #111111;
  margin: auto;
  border: solid gray;
  height: 32vh;
}

#sci1 {
  margin: auto;
  height: 12.8vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#dpad {
  grid-area: 1 / 3 / 3 / 5;
  display: grid;
  border-radius: 2.3em;
}
#dpad button {
  border-radius: 10px;
  background-color: #381319;
}
#left {
  grid-row-start: 2;
  grid-column-start: 1;
}
#up {
  grid-row-start: 1;
  grid-column-start: 2;
}
#down {
  grid-row-start: 3;
  grid-column-start: 2;
}
#right {
  grid-row-start: 2;
  grid-column-start: 3;
}

#sci2 {
  margin: auto;
  height: 19.2vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#basic {
  margin: auto;
  height: 32vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media only screen and (min-width: 800px) {
  .calc {
    width: 70%;
    margin: auto;
  }
}
